In [19]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from collections import defaultdict

In [168]:
df = pd.DataFrame(data = {'male': [5,7,9,10,4,7,8,3,6,1], 'female': [10,12,16,2,6,3,25,24,28,30]})

In [169]:
df

   female  male
0      10     5
1      12     7
2      16     9
3       2    10
4       6     4
5       3     7
6      25     8
7      24     3
8      28     6
9      30     1

In [170]:
#female median
female_median = df['female'].median()
female_median

14.0

In [171]:
#male median
male_median = df['male'].median()
male_median

6.5

In [172]:
#overall median
overall_median = (df['female'].append(df['male'])).median()
overall_median

7.5

In [173]:
#two way contingency table
#excludes values that are at the median

table_female = defaultdict(int)
table_male = defaultdict(int)

for i in df['female']:
    if i > overall_median:
        table_female['greater_median'] += 1
    if i <= overall_median:
        table_female['less_median'] += 1 

for i in df['male']:
    if i > overall_median:
        table_male['greater_median'] += 1
    if i <= overall_median:
        table_male['less_median'] += 1

In [174]:
table = pd.DataFrame(data = [table_female, table_male], dtype = int).T
table.columns = ['female', 'male']
table

                female  male
greater_median       7     3
less_median          3     7

In [175]:
expected_freq = stats.chi2_contingency(table, correction=True, lambda_=None)[3]
expected_freq

array([[5., 5.],
       [5., 5.]])

In [176]:
## does not do continuity correction 

difference = expected_freq - table 
squared_difference = difference * difference
chi_square = squared_difference/expected_freq
chi_square = chi_square.sum().sum()
chi_square

3.2

In [177]:
## Test Returns Chi Test Statistic, P value, Grand Median, Contingency Table

stats.median_test(df['female'], df['male'])

(1.8, 0.17971249487899593, 7.5, array([[7, 3],
        [3, 7]]))

In [178]:
## Contingency table returns similar Chi Test Statistic, P value, Degrees of Freedom, Expected Frequency
stats.chi2_contingency(table, correction=True, lambda_=None)

(1.8, 0.17971249487899593, 1, array([[5., 5.],
        [5., 5.]]))