## Pandas 101: Part 1 Indexing

In [2]:
import pandas as pd

In [154]:
#generating my dataframe, my data being a dictionary of equal length numpy arrays
dataset = pd.DataFrame(data = {'age': [10,28,30], 'weight': [120,133,155],
'height': [160,165,175], 'color': ['blue','green','pink']}, columns = ["age","weight", "height","color"])

## Row Indexing and Reindexing

In [129]:
# by default, the row index will be numerical
dataset

   age  weight  height  color
0   10     120     160   blue
1   28     133     165  green
2   30     155     175   pink

In [130]:
#row integer indexing, exclusive of the end integer
dataset[0:2]

   age  weight  height  color
0   10     120     160   blue
1   28     133     165  green

In [131]:
#.iloc indexing, otherwise known as "position" indexing, [row_indexer,column_indexer]
# note that it is EXCLUSIVE of the end position
dataset.iloc[0:3,0:2]

   age  weight
0   10     120
1   28     133
2   30     155

In [132]:
#.loc indexing, otherwise known as "label" indexing, [row_indexer,column_indexer]
# note that it is INCLUSIVE of the end label
dataset.loc[0:2,["age","weight"]]

   age  weight
0   10     120
1   28     133
2   30     155

In [155]:
dataset.index

RangeIndex(start=0, stop=3, step=1)

In [156]:
# I can reset the row index by calling the dataset's index object
dataset_labeled = pd.DataFrame(data = dataset, index = ['abby','bonnie','claire'] )

In [103]:
# I can create a new pandas dataframe reindexed (sorted differently) using the reindex method
dataset_reindexed = dataset_labeled.reindex(['bonnie','claire','abby'])

In [158]:
dataset_reindexed

        age  weight  height  color
bonnie   28     133     165  green
claire   30     155     175   pink
abby     10     120     160   blue

## Row Filling & Dropping

In [159]:
dataset

   age  weight  height  color
0   10     120     160   blue
1   28     133     165  green
2   30     155     175   pink

In [160]:
#forward filling & dropping
#I am adding new rows that I would like to be forward filled
#filling only works with incremental numerical indexes
dataset_filled = dataset.reindex([0,1,2,3,4], method = 'ffill')

In [161]:
dataset_filled

   age  weight  height  color
0   10     120     160   blue
1   28     133     165  green
2   30     155     175   pink
3   30     155     175   pink
4   30     155     175   pink

In [164]:
dataset_dropped = dataset_filled.drop(4)

In [165]:
dataset_dropped

   age  weight  height  color
0   10     120     160   blue
1   28     133     165  green
2   30     155     175   pink
3   30     155     175   pink