In [97]:
import pandas as pd
import numpy as np
from collections import defaultdict
import re
from collections import Counter
import math

In [6]:
test = pd.read_csv("Questions.csv",  encoding='latin-1')

In [12]:
test.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [69]:
small_test = test['Title'].head(5)

In [79]:
all_unique_words = []
for document in small_test:
    for word in document.split():
        if word.lower() not in all_unique_words:
            all_unique_words.append(word.lower())

In [80]:
all_words = []
for document in small_test:
    for word in document.split():
        all_words.append(word.lower())
counts = Counter(all_words)

In [83]:
tf = defaultdict(list)
for i in all_unique_words:
    for index, document in enumerate(small_test):
        frequency = len(re.findall(i,document))
        overall_frequency = counts[i]
        tf[i].append(frequency/overall_frequency)

In [85]:
total_documents = len(small_test)

In [104]:
documents_with_word = defaultdict(int)

for document in small_test:
    for word in all_unique_words:
        if word in document:
            documents_with_word[word] += 1
            
def coalesce(value):
    if value == 0:
        return np.NaN
    else:
        return value

In [119]:
tf_idf = defaultdict(int)

for word in all_unique_words:
    tf_idf[word] = pd.Series(tf[word]) * math.log(total_documents/coalesce(documents_with_word[word]))

In [120]:
tf_idf

defaultdict(int, {"'in'": 0    0.000000
             1    0.000000
             2    0.000000
             3    0.000000
             4    1.609438
             dtype: float64, 'a': 0    0.0
             1    0.0
             2    0.0
             3    0.0
             4    0.0
             dtype: float64, 'an': 0    0.458145
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.916291
             dtype: float64, 'array': 0    0.000000
             1    0.000000
             2    0.000000
             3    0.000000
             4    1.609438
             dtype: float64, 'attribute': 0    0.000000
             1    0.000000
             2    0.000000
             3    0.000000
             4    1.609438
             dtype: float64, 'can': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'codebase': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'continuous': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'cx_oracle:': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'display': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'do': 0    0.000000
             1    0.916291
             2    0.000000
             3    0.916291
             4    0.000000
             dtype: float64, 'find': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'font': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'for': 0    0.000000
             1    0.000000
             2    1.609438
             3    0.000000
             4    0.000000
             dtype: float64, 'from': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'full': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'get': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'how': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'i': 0    0.0
             1    0.0
             2    0.0
             3    0.0
             4    0.0
             dtype: float64, 'in': 0    0.223144
             1    0.223144
             2    0.223144
             3    0.000000
             4    0.669431
             dtype: float64, 'integration': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'iterate': 0    0.000000
             1    0.000000
             2    0.000000
             3    1.609438
             4    0.000000
             dtype: float64, 'its': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'jpeg': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'mac?': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'match': 0    0.000000
             1    0.000000
             2    0.000000
             3    0.000000
             4    1.609438
             dtype: float64, 'name': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'objects': 0    0.000000
             1    0.000000
             2    0.000000
             3    0.000000
             4    1.609438
             dtype: float64, 'of': 0    0.000000
             1    0.458145
             2    0.000000
             3    0.000000
             4    0.458145
             dtype: float64, 'on': 0    0.223144
             1    0.111572
             2    0.334715
             3    0.000000
             4    0.111572
             dtype: float64, 'over': 0    0.000000
             1    0.000000
             2    0.000000
             3    1.609438
             4    0.000000
             dtype: float64, 'path': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'pdf': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'preview': 0    0.000000
             1    1.609438
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'python': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'result': 0    0.000000
             1    0.000000
             2    0.000000
             3    1.609438
             4    0.000000
             dtype: float64, 'set?': 0    0.000000
             1    0.000000
             2    1.609438
             3    1.609438
             4    0.000000
             dtype: float64, 'system': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'the': 0    1.609438
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.000000
             dtype: float64, 'to': 0    0.458145
             1    0.000000
             2    0.000000
             3    0.000000
             4    0.458145
             dtype: float64, 'using': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64, 'windows?': 0   NaN
             1   NaN
             2   NaN
             3   NaN
             4   NaN
             dtype: float64})